.btn {
	border: none;
	padding: 0.6em 1em;
	// margin: 0.2em 0.5em;
	border-radius: 0.5rem;
	font-size: 1em;
	font-weight: 700;
	height: 2.5em;
	min-width: 6em;
	cursor: pointer;
}

.primary {
	background-color: $brand-color;
	color: $light-grey;
	transition: ease 0.3s all;

	&:hover {
		background-color: $brand-color-hover;
	}

	&:active {
		background-color: $brand-color-activate;
	}

	&:disabled {
		background-color: $light-grey;
		color: $mid-grey;
		cursor: default;
	}
}

.secondary {
	background-color: $secondary-color;
	color: $text-color;
	transition: ease 0.3s all;

	&:hover {
		background-color: $secondary-color-hover;
	}

	&:active {
		background-color: $secondary-color-activate;
	}

	&:disabled {
		background-color: $light-grey;
		color: $mid-grey;
		cursor: default;
	}
}

.black {
	background-color: $text-color;
	color: $white-color;
}

.dotted{
	width: 100%;
	text-align: center;
	color: $dark-grey;
	background-color: $white-color;
	border: $mid-grey dashed .15em ;

	&:hover {
		color: $white-color;
		background-color: $light-grey;
	}

	&:active {
		background-color: $secondary-color-activate;
	}

	&:disabled {
		background-color: $light-grey;
		color: $mid-grey;
		cursor: default;
	}
}