.container-section{
	border: solid 2px $mid-grey;
	padding: 10px 10px;
}

.question-card {
	min-width: 250px;
	width: 300px;
	margin: 0.5em;
	padding: 0.5em 1em;
	@include shadow;
}

.margin-title {
	margin: 1em 0;
}

.section-container {
	margin: 1em 0;
}

.container-questions {
	display: flex;
	flex-wrap: wrap;
	// justify-content: space-evenly;
}

.question-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 10px;
}

.answer-text {
	padding: 0.5em 0;
}

.surveyed-data {
	margin: 1em 0;
}

.container-section-references {
	margin: 1em 0;
}
.container-references {
	display: flex;
	flex-wrap: wrap;
}
.reference {
	padding: 0.8em;
	margin: 1em 0.5em;
	max-width: max-content;
	@include shadow;
}

.title-test {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.observation-section {
	padding: 0.5em 0;

	h4 {
		margin: 0.5em 0;
	}
}

.final-buttons {
	display: flex;
	justify-content: flex-end;
	margin: 1em 0 2em;
}
