.survey-menu-layout {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 3.5em;
	background-color: $secondary-color-hover;

	a {
		list-style: none;
		padding: 0 10px;
	}
	.active {
		border-bottom: 4px solid $brand-color;
		color: $text-color;
		padding-bottom: 2px;
	}
}
